.scoreboard{
    display: flex;
    width: 35.938rem;
    height: 24.063rem;
    background-color: #1B244A;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#home-score, #guest-score {
    background: black;
    color: #F94F6D;
}

.team{
    display: flex;
    flex-direction: column;
}