.scoreboard{
    display: flex;
    width: 35.938rem;
    height: 24.063rem;
    background-color: #1B244A;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#home-score, #guest-score {
    background: black;
    color: #F94F6D;
    padding: 1rem 2rem;
    font-size: 5.625rem;
}

.team{
    display: flex;
    flex-direction: column;
}

.btn-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

button{
    width: 2.813rem;
    height: 2.813rem;
}